.nodrag{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@media screen and (max-width:1100px){
  .desk1{
    display:none !important; 
  }
}

@media screen and (min-width:1100px){
  .mobile1{
    display:none !important; 
  }
}